.centered-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; 100% of the viewport height */
  }
  
  .spinner-wrapper {
    text-align: center;
  }
  
  .img-card {
    /* Add any additional styles for your image here */
  }