.centered-wrapper-full {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  
  .spinner-wrapper-full {
    text-align: center;
  }
  
  .img-card-full {
    /* Add any additional styles for your image here */
  }