.side-menu {
  position: absolute;
  right: 0;
  top: 3%;
  z-index: 10;
  .side-menu-items {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .side-menu-item {
      margin: 0 0 12px;
      cursor: pointer;
      border-radius: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      z-index: 1020;
      -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
      transform: translateX(40px);
      background-color: #1d2769;
      font-size: 18px;
      color: #fff !important;
      font-weight: bold;
      width: 270px;
      border-radius: 5px;

      &:hover {
        background-color: #e53c2e;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(0);
      }
    }
  }
}
